*{box-sizing: border-box; margin: 0; padding: 0;}
.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 1rem;

}
.card p{
    text-align: justify;
}
.card h3{
    font-variant: small-caps;
}
.card p::first-letter{
    font-weight: 700;
    font-size: 2rem;
    color: hsl(200, 50%, 50%);
    font-style: italic;
}
.card a{
    display: inline-block;
    width: 6rem;
    background-color: gray;
    padding: .3rem 1rem;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}