*{box-sizing: border-box; margin: 0; padding: 0;}
img{
    width: 100%;
    animation: rotatePic;
    animation-duration: 2s;
    cursor: pointer;
}
@keyframes rotatePic{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(600deg);}
    50%{transform: rotate(90deg);}
    75%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    padding: 1rem;
    background-image: radial-gradient(rgb(186, 30, 30), rgb(155, 82, 82));
    box-shadow: 0 0 10px .5px #5d0404;
    transition: scale 1.02;

}
.card:hover{
    scale: 1.02;
}
.card p{
    text-align: justify;
}
.card h3{
    font-variant: small-caps;
}
.card p::first-letter{
    font-weight: 700;
    font-size: 2rem;
    color: hsl(200, 50%, 50%);
    font-style: italic;
}
.card a{
    display: inline-block;
    width: 6rem;
    background-color: gray;
    padding: .3rem 1rem;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.card a:active{
    box-shadow: 2px 2px 10px;
}
@media (max-width: 767px){
    .container{
        margin: 0;
    }
}